DATABASE_URL_example="postgresql://usuario:password@localhost:5432/nombre_db"
JWT_SECRET_example="tu_secreto_super_seguro_aqui"
SENDGRID_API_KEY_example="SG.xxxxx.xxxxxx"
SENDGRID_FROM_EMAIL_example="tu-email@dominio.com"
PORT_example=3000
CLIENT_URL_example="http://localhost:5173"
NODE_ENV_example="development"